*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures


*.iml
captures/
build/
local.properties
.idea
.svn
.DS_Store
configMerge/
.gradle/
local_repo/
proj.android/.externalNativeBuild/
CMakeDeps.cmake
*.patch
*.key
